.blogContent {
    .posts {
        padding-top: 5rem;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            text-align: center;
        }
    
        article {            
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: .8rem;
            border: solid .0625rem #ddd;
            padding: 3rem;
            @media only screen and (max-width: 1024px) {
                width: 100%;
                margin-bottom: 5rem;
            }
    
            figure {
                text-align: center;
                height: 12.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 3rem;
                img {
                    width: 50%;
                    height: auto;
                }
            }
            
            h3 {
                text-transform: uppercase;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            
            p {
                font-size: 1.4rem;
            }
    
            a {
                background-color: var(--primary);
                color: var(--secondary);
                font-weight: 800;
                padding: 1rem 2rem;
                border-radius: .8em;
                width: max-content;
                margin-top: 1.6rem;
                text-transform: uppercase;
                @media only screen and (max-width: 1024px) {
                    margin: 1.6rem auto
                }
                                
                &:hover {
                    background-color: var(--secondary);
                    color: var(--primary);
                }
            }
        }
    }
}