.catalogOfProducts {

  .pageHeader {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    
    @media screen and (max-width: 1024px){
      flex-direction: column;
    }

    .content {
      width: 60%;
      padding: 0 3rem;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      
      h2 {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--secondary);
        margin-bottom: 1.5rem;
        
        strong {
          color: var(--primary);
        }

        a {
          color: var(--primary);
          text-decoration: none;
          font-weight: 600;
          transition: color 0.2s ease;

          &:hover {
            color: var(--secondary);
          }
        }
      }
    }

    figure {
      margin-top: 2rem;
      text-align: center;
      width: 40%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: .6rem;
      }
    }
  }

  .catalogfilters {
    max-width: 75rem;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.05);

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: var(--secondary);
        font-weight: 700;
        text-align: center;
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      label {
        flex: 1 1 100%;
        font-weight: 600;
        color: var(--secondary);
        margin-bottom: 0.5rem;
      }

      select,
      input[type="text"] {
        flex: 1 1 calc(33.333% - 1rem);
        padding: 0.75rem 1rem;
        border: .0625rem solid var(--primary);
        border-radius: 0.5rem;
        font-size: 1.5rem;
        transition: border-color 0.3s ease;
        color: var(--secondary);
        cursor: pointer;

        &:focus {
          outline: none;
          border-color: var(--primary);
          box-shadow: 0 0 0 .125rem rgba(0, 119, 204, 0.2);
        }
      }
      
      @media (max-width: 768px) {
        select,
        input[type="text"] {
          flex: 1 1 100%;
        }
      }
    }
  }
}
