.companyPrinciples {
    text-align: center;
    p {
        margin-bottom: 2rem;
        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    .MissionVisionValues {
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        justify-content: space-between;
        @media only screen and (max-width: 1024px){
            flex-direction:column
        }
        article {
            width: 33%;
            @media only screen and (max-width: 1024px){
                width: 100%;
            }
            svg {
                circle {
                    fill: var(--primary) !important;
                }
                g {
                    fill: var(--secondary) !important;
                }
                @media only screen and (max-width: 1024px) {
                    width: 50%;
                    height: 50%;
                }
            }
            
            .contentInternal {
                h3 {
                    text-transform: uppercase;
                    margin-top: 2rem;
                }
                p {
                    color: var(--secondary);
                }
            }
        }
    }
}

.scale-up-section {
    transform: scaleX(0);             /* Começa "achatado" no eixo X */
    transition: transform 0.8s ease-in-out; /* Define a transição de scale-up */
    transform-origin: center;         /* Define o ponto de origem no centro */
  }
  
  .scale-up-section.scale-in {
    transform: scaleX(1);             /* Alcança o tamanho completo */
  }