.companyQualityCertification {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    
    @media only screen and (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
    }
    
    header {
        width: 80%;
        display: flex;
        flex-direction: column;
        border-bottom: none;
        
        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
        
        h2 {
            margin-bottom: 1rem;
        }
        
        .subtitle {
            margin-bottom: 3rem;
        }
        
        p {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            
            strong {
                font-weight: 600;
                color: var(--secondary);
                text-transform: uppercase;
            }
        }
        
        a {
            text-transform: uppercase;
            font-weight: 700;
            color: var(--primary);
            background-color: var(--secondary);
            padding: 1rem 2rem;
            border-radius: .8rem;
            width: fit-content;

            @media only screen and (max-width: 1024px) {
                margin: 0 auto;
            }

            &:hover {
                background-color: var(--primary);
                color: var(--secondary);
            }
        }
    }
    
    figure {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media only screen and (max-width: 1024px) {
            width: 80%;
            max-width: 30rem;
        }
        
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}