.companyAboutPage {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 1024px) {
        flex-direction:column
    }

    .line {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    article {
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        @media only screen and (max-width: 1024px) {
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
        }

        figure {
            margin-bottom: 2rem;
            width: 50%;
            padding: 1rem;
            border-radius: .6rem;

            @media only screen and (max-width: 1024px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
        }

        .contentCols {
            width: 50%;
            padding: 1rem;
            color: var(--text-color);
            
            @media only screen and (max-width: 1024px) {
                width: 100%;
                text-align: center;
            }
            p {      
                margin-bottom: 2rem;      
            }

            strong {
                font-weight: 700;
                color: var(--secondary);
            }
        }
        
    }
}

.fade-in-section {
    opacity: 0;                /* Começa invisível */
    transition: opacity 1s ease-in; /* Define a transição */
  }
  
  .fade-in-section.fade-in {
    opacity: 1;                /* Define visível */
  }
  