.contactHeader {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    h1 {
        width: 50%;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 5rem;        
    }

    nav {
        width: 50%;        

        ol {
            display: flex;
            justify-content: end;
            align-items: center;
            
            li {
                a {
                    color: var(--navy);
                }
            }
            .active {
                background-color: var(--cerulean);
                color: var(--navy);
                border-radius: .8rem;
                padding: .5rem 1rem;
            }
            .separator {
                margin: 0 1rem;
            }   
        }
    }
}




