.loading-bar-container {
    width: 100%;
    height: .5rem;
    background-color: var(--secondary);
    overflow: hidden;
    position: relative;

    .loading-bar {
        height: 100%;
        width: 0;
        background: linear-gradient(to right, var(--primary), var(--secondary));
        animation: loading 3s infinite;
    }
}

@keyframes loading {
    0% {width: 0}
    50% {width: 100%}
    100% {width: 0}
}

footer {
    background-color: var(--secondary);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
        
    @media only screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
    }

    .brandFooter {
        @media only screen and (max-width: 1024px) {
            margin: 0 auto 5rem}
        }
    
    address {   
        color: var(--light);
        h2 {
            color: var(--primary);
            margin-bottom: 2.5rem;
           text-transform: uppercase;
        }
        
        ul {
            li {
                font-weight: 300;
                margin-bottom: .5rem;
                color: var(--light);
                text-wrap-style: balance;
            }
        }
        
        @media only screen and (max-width: 1024px) {
            margin-bottom: 2.5rem;
            text-align: center;
        }
    }
        
    a {
        color: var(--primary);
        font-weight: 600;
        &:hover{
            text-decoration: underline;
            color: var(--light);
        }
    }
    
    nav {        
        .current_page_item {
            a {
                color: var(--light);
                text-decoration: underline;
            }            
        }
        
        a {
            text-transform: uppercase;

            &:hover {
                color: var(--light);
            }
        }

        ul {
            li{
                margin-bottom: .5rem;
                @media only screen and (max-width: 1024px)  {
                    font-size: 1.8rem;
                    margin-bottom: 1rem
                }        
            }
        }
        
        @media only screen and (max-width: 1024px)  {
            margin-bottom: 2.5rem;
            width: 100%;
            text-align: center;
        }
    }
    
    article {
        h2 {
            color: var(--primary);
            margin-bottom: 2.5rem;
            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }
        
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            
        
            li {
                a {
                    svg {
                        path {
                            fill: var(--primary);
                        }
                    }
                
                    &:hover {
                        svg {
                            path {
                                fill: var(--light);
                            }
                        }
                    }
                }
            }
        }

        .iconStores {
            display: flex;
            text-align: center;
            justify-content: space-between;
            padding-top: 2.5rem;
            @media only screen and (max-width: 1024px) {
                justify-content: center;

                a {
                    margin: 0 1rem
                }
            }
        }
    }
} 

#whatsApp {
    position:fixed;
    right: 2rem;
    bottom: 2rem;

    svg {
        width: 6.4rem;
        height: 6.4rem;
        pointer-events: none;
        @media only screen and (max-width: 1024px)  {
            width: 4rem;
            height: 4rem;
            
        }

    }
}

.archive footer nav .menu-item-2578 a,
.page-id-2594 footer nav .menu-item-23 a,
.single-produto footer nav .menu-item-2578 a {
    color: var(--light);
}