.frontPageDistributorAndSI {
    
    figure {
        
        img {
            
        }
    }
    
    header {
        
        h2 {
            
        }
        
        .content {
            
            p {
                
            }
            
            .btn {
                
            }
        }
    }
}