.frontPageDifferences {
    
    header {
        
        h2 {
            
        }
        
        .subtitle {
            
        }
    }
    
    .itens {
        
        article {
            
            figure {
                
                img {
                    
                }
            }
            
            h3 {
                
            }
            
            p {
                
            }
        }
    }
}