.frontPageAbout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1024px) {
        flex-direction: column-reverse;
        border-bottom: solid .3rem var(--secondary);
    }

    article {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: end;
        @media only screen and (max-width: 1024px) {
            width: 100%;
            align-items: center;
        }
        
        .subtitle {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.6rem;
            color: var(--secondary);
            border-bottom:solid .1rem var(--primary);
            padding: .5rem 0;
        }
        h2 {
            font-size: 6rem;
            text-align: right;
            margin-bottom: 3rem;
            @media only screen and (max-width: 1024px) {
                font-size: 5rem;
                text-align: center;
            }
            span {
                background-color: var(--primary);
                padding: 1rem 3rem;
                border-radius: .8rem;
            }
        }
        p {
            text-align: right;
            font-weight: 400;
            font-size: 1.6rem;
            margin-bottom: 2.5rem;
            color: var(--secondary);
            @media only screen and (max-width: 1024px) {
                text-align: center
            }
        }
        a {
            background-color: var(--primary);
            color: var(--secondary);
            text-transform: uppercase;
            font-weight: 700;
            padding: 1rem 3rem;
            border-radius: .8rem;

            &:hover {
                background-color: var(--secondary);
                color: var(--primary);
            }
        }
    }
    figure {
        width: 48%;
        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
        img {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            height: auto;
            @media only screen and (max-width: 1024px) {
                width: 100%;
                height: auto;
                margin-top: 3rem;
            }
        }
    }
}