.hero {
    position: relative;
    overflow: hidden; 
}

.hero .images {
    position: relative;
}

.hero .images figure {
    display: none;
    transition: opacity 0.5s ease;
}

.hero .images figure img {
    width: 100%;
}

.hero .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        font-size: 1.6rem;
        color: #333;
    }
}

.hero .buttons button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.hero .buttons .prev {
    position: relative;
    left: 1rem; /* Distância da borda esquerda */
}

.hero .buttons .next {
    position: relative;
    right: 1rem; /* Distância da borda direita */
}

.hero .bullets {
    position: absolute;
    bottom: 2rem; /* Posição acima das imagens */
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
}

.hero .bullets li {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #ccc;
    margin: 0 .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.hero .bullets li.active {
    background: #333;
}
