.frontPageBlog {
    display: flex;
    flex-direction: column;
    padding: 5rem 5%;
    h2 {
        font-size: 5rem;
        text-transform: uppercase;
        @media only screen and (max-width: 1024px) {
            font-size: 3rem;
            text-align: center;
        }
    }

    .subtitle {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--secondary);
        border-bottom:solid .1rem var(--primary);
        padding: .5rem 0;
        width: max-content;
        @media only screen and (max-width: 1024px) {
            width: 100%;
            text-align: center;
        }
    }

    .posts {
        padding-top: 5rem;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            text-align: center;
        }

        article {            
            width: 30%;
            display: flex;
            flex-direction: column;
            border-radius: .8rem;
            border: solid .1rem #eee;
            padding: 2rem;
            opacity: 0;
            transform: translateY(-50px); /* Começa fora da tela */
            animation: slideIn 0.5s forwards; /* Aplica a animação de descer */
            animation-delay: 0s; /* Atraso inicial */
            @media only screen and (max-width: 1024px) {
                width: 100%;
                margin-bottom: 5rem;
            }

            figure {
                text-align: center;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 3rem;
                img {
                    width: 100%
                    height: auto;
                }
            }
            
            h3 {
                text-transform: uppercase;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            
            p {
                font-size: 1.4rem;
            }

            a {
                background-color: var(--primary);
                color: var(--secondary);
                font-weight: 800;
                padding: 1rem 2rem;
                border-radius: .8em;
                width: max-content;
                margin-top: 1.6rem;
                text-transform: uppercase;
                @media only screen and (max-width: 1024px) {
                    margin: 1.6rem auto
                }
                                
                &:hover {
                    background-color: var(--secondary);
                    color: var(--primary);
                }
            }
        }
    }
    .allPosts {
        margin: 0 auto;
        text-align: center;
        margin-top: 5rem;
        background-color: var(--secondary);
        color: var(--primary);
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem 3rem;
        border-radius: .8rem;

        &:hover {
            background-color: var(--primary);
            color: var(--secondary);
        }
    }
}

@keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0); /* Desce até a posição original */
    }
  }
  
  /* Definindo o delay para cada artigo aparecer um por vez */
  .posts article:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .posts article:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .posts article:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .posts article:nth-child(4) {
    animation-delay: 0.4s;
  }