header {
    display: flex;
    flex-direction: column;
    border-bottom: solid .3rem var(--secondary);
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        
        
        figure {
            width: max-content;
            @media only screen and (max-width: 1024px) {
                width: 35%;
                text-align: center;
            }
            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .mnumobile {
            display: none;
            @media only screen and (max-width: 1024px){
                cursor: pointer;
                display: block;
                font-size: 4rem;
                color: var(--secondary);
                width: 65%;
                text-align: right;
            }
            
        }
        menu {
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            @media only screen and (max-width: 1024px) {
                display: none;width: 100%;margin-top: 3rem;text-align: center;                
            }
            li {
                @media only screen and (max-width: 1024px) {
                    margin-bottom: 2rem;
                }
                a {
                    text-transform: uppercase;
                    font-weight: 500;
                    color: var(--secondary);
                }
            }
            .current-menu-item {
                a {
                    background-color: var(--primary);
                    padding: 1rem 2rem;
                    border-radius: .8rem;
                    font-weight: 700;
                }
            }

            li:hover a {
                background-color: var(--primary);
                padding: 1rem 2rem;
                border-radius: .8rem;
                font-weight: 700;
            }
        }
        .open {
            display: block;
        }
    }
}

.archive,
.single-produto {
    header {
        .menu-item-2578 {
            a {
                background-color: var(--primary);
                padding: 1rem 2rem;
                border-radius: .8rem;
                font-weight: 700;
            }
        }
    }
}

.page-id-2594 header .menu-item-23 a {
    background-color: var(--primary);
    padding: 1rem 2rem;
    border-radius: .8rem;
    font-weight: 700;
}
