.nextLaunches {
  margin: 6.4rem auto 0;
  max-width: 190.5rem;

  h2 {
    font-weight: 700;
    font-size: 4.6rem;
  }

  .subtitle {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
    color: var(--primary)
  }

  .carouselNextProducts {
    position: relative;
    z-index: 1;

    .carouselWrapper {
      width: 100%;
      overflow: hidden;

      .carouselContent {
        padding-right: 3.2rem;
        display: flex;
        flex-direction: row;
        border: 0;
        padding: 0;
        gap: 3.2rem;
        transition: transform 0.5s ease;
        will-change: transform;

        .carouselItem {
            width: calc((100% - 6.4rem) / 3);
            display: flex;
            flex-direction: column;
            align-items: center; 
            height: auto;
            color: var(--secondary);  
            flex-shrink: 0;
            border-radius: 1.25rem;
            border: solid .0625rem var(--primary);
            padding: 1.6rem;
            text-align: left;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05);

            &:last-child {
                margin-right: 3.2rem;
            }

          img {
            width: 50%;
            height: auto;
            border-radius: 0.375rem;
            margin-bottom: 3.125rem;
          }

          h3 {
            margin: 0 0 .8rem;
            font-size: 1.9rem;
          }

          span,
          .productDescription {
            margin: .5rem 0;
            font-size: 1.6rem;
          }

          .productDescription {
            ul {
              li {
                color: var(--secondary);

                strong {
                  color: var(--primary);
                }
              }
            }
          }

          .saiba-mais-btn {
                display: inline-block;
                background-color: var(--primary);
                color: #fff;
                font-weight: 600;
                text-decoration: none;
                padding: 0.75rem 1.5rem;
                border-radius: .6rem;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--secondary);
                }
            }
        }
      }
    }

    .btnPrevious,
    .btnNext {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: var(--primary);
        color: var(--secondary);
        border: none;
        border-radius: 100%;
        padding: 0.5rem 1rem;
        font-size: 2.4rem;
        cursor: pointer;
        z-index: 20;
        transition: background 0.3s ease;
        box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.1);
        z-index: 99;
        width: 3.2rem;
        height: 3.2rem;
        font-weight: 300;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .btnPrevious {
        left: 0;
        transform: translateX(-120%) translateY(-50%);
    }   

    .btnNext {
        right: 0;
        transform: translateX(120%) translateY(-50%);
    }

    .btnPrevious:hover,
    .btnNext:hover {
        background: var(--secondary);
        color: var(--primary);
    }

    .carouselNavigation {
      margin-top: 1.6rem;

      .bullets {
        display: flex;
        justify-content: center;
        gap: .8rem;
        list-style: none;
        padding: 0;

        li {
          width: 1.5rem;
          height: 1.5rem;
          background: #ccc;
          border-radius: 50%;
          cursor: pointer;
          transition: background 0.3s;

          @media screen and (max-width: 768px) {
            width: 1rem;
            height: 1rem;            
          }

          &.active {
            background: var(--secondary)
          }
        }
      }
    }
  }

    @media (max-width: 1024px) {
    .carouselNextProducts .carouselWrapper .carouselContent .carouselItem {
        width: calc((100% - 3.2rem) / 2); // 2 itens com 1 gap
    }

    .carouselNextProducts .btnPrevious {
        transform: translateX(-80%) translateY(-50%);
    }

    .carouselNextProducts .btnNext {
        transform: translateX(80%) translateY(-50%);
    }
    }

    @media (max-width: 768px) {
    .carouselNextProducts .carouselWrapper .carouselContent .carouselItem {
        width: 100%; // item único por linha
    }

    .carouselNextProducts .btnPrevious,
    .carouselNextProducts .btnNext {
        top: auto;
        bottom: -3.2rem;
        transform: translateX(0);
        padding: 0.5rem 1.2rem;

        @media screen and (max-width: 480px) {
            bottom: 2.1875rem;
          
        }
    }

    .carouselNextProducts .btnPrevious {
        left: 32%;
    }

    .carouselNextProducts .btnNext {
        right: 32%;
    }

    .carouselNextProducts .carouselNavigation {
        margin-top: 4.8rem;
    }
  }
}

.page-front-page {
  .nextLaunches {
    margin-top: 0;
  }
}

