.printedCatalog {

    padding: 2rem 1rem;
    max-width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        max-width: 90%;        
    }

    .section-header {
        text-align: center;
        h2 {
            font-size: 3.5rem;
            color: var(--primary);
        }

        .subtitle {
            font-weight: 400;
            color: var(--text-color);
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        form {
            padding: 2.5rem 15%;
            

            label {
                font-weight: 700;
                color: var(--secondary);
            }
            
            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 1.5rem;
                margin-bottom: 2rem;
                border: solid .1rem var(--secondary);
                border-radius: .8rem;
            }

            .eu-sou {
                span {
                    font-weight: 700;
                    color: var(--secondary);
                }

                .wpcf7-checkbox {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2rem;

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        align-items: start;
                        
                    }
                }
            }

            .wpcf7-list-item {
                margin-left: 0;
                font-weight: normal;
                @media screen and (max-width: 768px) {
                    margin-bottom: 1rem;
                    
                }
            }

            .wpcf7-list-item-label {
                font-weight: normal;
            }


            input[type="submit"] {
                            text-transform: uppercase;
                background-color: #00a0df;
                padding: 1rem 2rem;
                border-radius: .8rem;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
                font-size: 1.6rem;
                cursor: pointer;
                border: none;
                margin-top: 2rem;

                &:hover {
                    background-color: var(--secondary);
                    color: var(--primary);
                }
            }
        }

    }
}