.singleContent{
    header {
        border: none;
        background-color: #eee;
        border-radius: .8rem;
        padding: 1rem 3rem;
        margin-bottom: 3rem;
        text-align: center;
        h2 {
            font-size: 5rem;
            text-align: center;
        }
        p {
            display: flex;
            justify-content: center;
            time {}
            .separador {
                margin: 0 0.5rem;
                display: block;
            }
            span {}
        }
    }

    article {
        figure {
            text-align: center;
            margin-bottom: 3rem;
            img {
                border-radius: .8rem;
            }
        }

        h3 {
            margin: 5rem 0 2rem;
            color: var(--cerulean);
            background-color: var(--navy);
            border-radius: 0.8rem;
            width: max-content;
            padding: 1rem;
        }

        strong {
            color: var(--navy);
        }

        ul {
            padding-left: 1.5rem;
            margin-top: 2rem;
            li {
                list-style: disc;
                &::marker {
                    color: var(--navy);
                }
            }
        }

        p {
            margin-bottom: 2rem;
            line-height: 2.4rem;
        }
    }
}