* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
}
:root {
    font-size: 62.5%;
    /* --primary: #00A0DF;
    --secondary: #011e41;
    --text-color: #4f4f4f;
    --dark: #000000; 
    --light: #ffffff;*/    
    --fireflay: #00242F;
    --darkGray: #2b2b2b;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.gridMargin {padding: 5rem 5%}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
    color: var(--secondary);
}

strong {font-weight: 500}

p,
li {
    font-weight: 400;
    color: var(--text-color);
}

.page-id-12 section {
    h2 {
        font-size: 4.6rem;
    }
    .subtitle {
        font-size: 2.6rem;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--primary);
    }
}