name: Deploy to Production (HostGator)

on:
  push:
    branches:
      - main  # Deploy para produção apenas na branch main

jobs:
  ftp-deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repositório
        uses: actions/checkout@v2

      - name: Deploy via FTP para Produção (zappecas.com.br)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.zappecas.com.br
          username: dev@zappecas.com.br
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: public_html/wp-content/themes/zappecas/
          local-dir: ./
